.text{
    width: 100%;
    height: 500px;
    background-color: #1974D2;
    margin-top: 10px;
}


img{
    width: 400px;
    height: 300px;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 100px;
   
   
}

button{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 17px 20px 23px -5px rgba(0,0,0,0.43);
    -webkit-box-shadow: 17px 20px 23px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: 17px 20px 23px -5px rgba(0,0,0,0.43);
}
h1{
    margin-top: 80px;
    margin-left: 30px;
    color: white;
}
p{
    margin: 30px 30px 0px 30px;
}
.text{
    display: flex;
}
button{
    margin: 50px;
    border: none;
}